@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css); */
@layer components {
  .container {
    @apply mx-auto px-4 w-full sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1320px];
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .filter-btn {
    @apply px-4 py-2 rounded-lg bg-gray-100 text-gray-800 hover:shadow-lg active:scale-95 transition transform duration-300 ease-in-out;
  }
}
